@tailwind base;
@tailwind components;
@tailwind utilities;

/* block positions */
.c-0-0 {
    transform: translate(0%, 0%);
}

.c-0-1 {
    transform: translate(0%, 100%);
}

.c-0-2 {
    transform: translate(0%, 200%);
}

.c-0-3 {
    transform: translate(0%, 300%);
}

.c-1-0 {
    transform: translate(100%, 0%);
}

.c-1-1 {
    transform: translate(100%, 100%);
}

.c-1-2 {
    transform: translate(100%, 200%);
}

.c-1-3 {
    transform: translate(100%, 300%);
}

.c-2-0 {
    transform: translate(200%, 0%);
}

.c-2-1 {
    transform: translate(200%, 100%);
}

.c-2-2 {
    transform: translate(200%, 200%);
}

.c-2-3 {
    transform: translate(200%, 300%);
}

.c-3-0 {
    transform: translate(300%, 0%);
}

.c-3-1 {
    transform: translate(300%, 100%);
}

.c-3-2 {
    transform: translate(300%, 200%);
}

.c-3-3 {
    transform: translate(300%, 300%);
}

/* block styles */
.inner-block {
    /* padding: 10px; */
    width: 100%;
    height: 100%;
}

.block-2 > div {
    background: white;
    color: black;
}

.block-4>div {
    background: rgb(34, 222, 255);
    color: black;
}

.block-8>div {
    background: rgb(46, 145, 232);
    color: white;
}

.block-16>div {
    background: rgb(19, 75, 196);
    color: white;
}

.block-32>div {
    background: rgb(138, 77, 223);
    color: white;
}

.block-64>div {
    background: rgb(94, 25, 189);
    color: white;
}

.block-128>div {
    background: rgb(169, 232, 52);
    color: white;
    font-size: 1.5rem;
}

.block-256>div {
    background: rgb(102, 216, 60);
    color: white;
    font-size: 1.5rem;
}

.block-512>div {
    background: rgb(204, 237, 38);
    color: black;
    font-size: 1.5rem;
}

.block-1024 >div {
    background: rgb(242, 177, 38);
    color: black;
    font-size: 1rem;
}

.block-2048>div {
    background: rgb(238, 54, 51);
    color: white;
    font-size: 1rem;
}

.block-4096>div {
    background: rgb(225, 34, 200);
    color: black;
    font-size: 1rem;
}

@keyframes enter {
    from {
        opacity: 0;
        /* scale:0; */
    }

    to {
        opacity: 1;
        /* scale: 1; */
    }
}

.enter {
    animation: enter .3s linear forwards;
}